#bootstrap-overriding body{
    /*Universal, marginea e implicit 0px*/
    margin: 0;
}
#bootstrap-overriding .navbar-active{
    /*Modificam meniul din Bootstrap*/
    background-color:  #e31919; 
    color: #fff;
    border-radius: 3px;
}

#bootstrap-overriding .navbar-brand{
    /*Modificam logo-ul*/
    color: #e31919;
    margin-top: 0;
    padding: 0;
}

#bootstrap-overriding .row{
    /*Lasam o mica distanta intre liniile de thumbnail-uri in galerie*/
    margin-bottom: 20px;
}

#bootstrap-overriding .panel-heading{
    /*Schimbam culoarea heading-ului din panele din gri in rosu*/
    background-color: #e31919;
    color: #fff;
}

.white{
    /*Cream o clasa care coloreaza orice in alb*/
    color: #fff;
}

#bootstrap-overriding .fonted-heading{
    /*Cream o clasa care modifica fontul*/
    font-family: 'Fira Sans', sans-serif;
}


#bootstrap-overriding .btn-default{
    /*Modificam butonul default putin, putin*/
    background-color: #e31919;
    color: #fff;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

#bootstrap-overriding .btn-default:hover{
    /*Aceiasi poveste ca si mai sus*/
    background-color: #ff4d4d;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}


#bootstrap-overriding small{
    /*Alteram putin tag-ul "small" din BS*/
    color: #4b4b4b;
    font-family: 'Fira Sans', sans-serif;
    font-size: small;
}


/*Modificam putin tabelul, asa incat sa fie furmos: margini, etc..*/
#bootstrap-overriding td{
    width: 100%;
}

#bootstrap-overriding table{
    margin-top: 5px;
}

/*Gata cu tabelul*/

.amenu{
    /*Cream o clasa care modifica fontul*/
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Fira Sans', sans-serif;
}

/* Adaugam stil si personalitate link-urilor a*/
#bootstrap-overriding a{
    color: #e31919;
}

#bootstrap-overriding .menu{
    /*Rectificam modificarile aduse meniului de catre ultima schimbare*/
    color: #4b4b4b;
}
#bootstrap-overriding .menu:hover{
    /*Aceiasi poveste*/
    color: #e31919;
}

/* Modificam dimensiunea fontului din cadrul paragrafului din Jumbotron(BS)*/
#bootstrap-overriding .jumbotron p{
	font-size: 16px;
}

#bootstrap-overriding .jumbotron{
    /*Alteram putin marginile si colturile jumbotronului*/
    padding: 20px;
    border-radius: 3px;
}

/* Modificam listele banale.*/
#bootstrap-overriding ul{
    list-style-image: url("pictures/sageata.png");
}

.nlist{
    font-size:12pt; 
    padding: 3px;
}